{% extends 'base.html' %}

{% block title %}
영양소 추천 결과
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<style>
    body {
            padding-top: 10vh; /* 네비게이션 바 높이 만큼 여백 추가 */
        }
    .progress-bar {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
}
    .progress-green {
    background-color: #4caf50; /* 초록색 */
    }
    .progress-orange {
        background-color: #ff9800; /* 주황색 */
    }
    .progress-red {
        background-color: #f44336; /* 빨간색 */
    }
    .progress-percentage {
        position: absolute;
            font-size: 14px;
            right: 21.2%;
            transform: translateY(-10%);
            color: black;
            background: none;
    }
    .progress-bar-area {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 18px;
    position: relative;
    overflow: hidden;
}
    .progress-additional {
    background-color: #ffff00; /* 노란색 바 */
    height: 100%;
    border-radius: 10px;
    position: absolute;
    left: 0;
}

.progress-label {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    z-index: 1;
    color: black;
}
</style>
{% endblock %}

{% block content %}
<h2>추천 음식: {{ closest_food }}</h2><br>
<h6>가장 부족한 영양소를 채워줄 수 있는 음식이 추천됩니다.</h6><br>
<div class="progress-container">
    {% for nutrient, value in current_intake_origin.items() %}
        {% set rda_value = Config.RDA2.get(nutrient, 1) %}
        {% set rda_percent = (value / rda_value * 100) | round %}
        {% set additional_percent = ((current_intake[nutrient] - value) / rda_value * 100) | round if nutrient in current_intake else 0 %}
        <div class="nutrition-item">
            <label>{{ Config.nutrient_map.get(nutrient, nutrient) }}</label>
            <div class="progress-bar-area">
                <div class="progress-bar
                    {{ 'progress-red' if rda_percent > 120 else
                       'progress-green' if 80 <= rda_percent <= 120 else
                       'progress-orange' }}" style="width: {{ rda_percent if rda_percent <= 100 else 100 }}%;"></div>
                <div class="progress-additional" style="width: {{ additional_percent if rda_percent + additional_percent <= 100 else 100 - rda_percent }}%; left: {{ rda_percent }}%;"></div>
                <span class="progress-label">{{ rda_percent }}% + {{ additional_percent }}%</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
