{% extends 'base.html' %}

{% block title %}음식 분류 - 이미지 디스플레이{% endblock %}

{% block head %}
<style>
    body {
        padding-top: 30vh; /* 네비게이션 바 높이 만큼 여백 추가 */
    }
    h2 {
        text-align: center; /* 제목 가운데 정렬 */
        margin-bottom: 20px; /* 폼과의 간격 조정 */
    }
    .centered-image {
        margin: 0 auto;
        width: 100%; /* 이미지의 너비를 화면 너비에 맞게 조정 */
        max-width: 800px; /* 이미지의 최대 너비를 설정 */
        height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
        margin-left: 13%
    }
    form {
        max-width: 400px; /* 이미지 업로드 박스의 최대 너비를 조정 */
        margin: auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        background-color: #f9f9f9; /* 폼 배경색 설정 */
    }
    .form-group {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="file"] {
        width: calc(70% - 10px); /* 파일 입력 필드의 너비 조정 (여백 고려) */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; /* 입력 필드의 패딩을 너비에 포함 */
    }
    input[type="submit"] {
        width: 100px; /* 버튼의 고정 너비 설정 */
        padding: 10px;
        background-color: #4CAF50; /* 버튼 색상 일관성 유지 */
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    p {
        text-align: center;
        color: #dc3545; /* 메시지 색상 설정 */
    }
    .modal-content {
    background-color: #f4f4f4; /* 폼 배경색 */
    border-radius: 5px; /* 모달의 둥근 테두리 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
    padding: 20px; /* 모달 내부 패딩 */
}

.modal-header, .modal-footer {
    border-bottom: 1px solid #ddd; /* 헤더와 푸터의 구분선 */
    background-color: #fff; /* 헤더와 푸터 배경색 */
}

.modal-title {
    color: #333; /* 제목 색상 */
    text-align: center; /* 제목 가운데 정렬 */
    margin-bottom: 20px; /* 제목과 내용 사이의 간격 */
}

.form-group {
    margin-bottom: 20px; /* 폼 그룹 간격 */
}

input[type="text"] {
    width: 100%; /* 텍스트 입력 필드 너비 */
    padding: 8px; /* 텍스트 입력 필드 패딩 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 둥근 테두리 */
}

.center-button {
    display: block; /* 블록 요소로 만들기 */
    width: 50%; /* 너비 */
    margin: 0 auto; /* 자동 마진으로 가운데 정렬 */
    padding: 10px 0; /* 패딩 */
    background-color: #4CAF50; /* 버튼 색상 */
    color: white; /* 텍스트 색상 */
    border-radius: 4px; /* 둥근 테두리 */
    cursor: pointer; /* 포인터 커서 */
}

.center-button:hover {
    background-color: #45a049; /* 호버 시 버튼 색상 변경 */
}
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <img src="../static/image/logo_upload.jpg" alt="음식 검색" class="centered-image">
        <br><br>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group" style="display: flex;">
                <input type="file" id="file" name="file">
                <input type="submit" value="업로드">
            </div>
        </form>
        <!-- Modal -->
        <div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inputModalLabel">아직 학습하지 않은 음식입니다.<br>학습을 위해 음식의 이름을 알려주세요.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="foodName" name="foodName" required>
                </div>
                <button type="button" class="btn btn-primary center-button" id="submitFoodBtn">제출</button>
            </div>
        </div>
    </div>
</div>
    </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    // 변수를 템플릿에서 직접 받아 사용
    var openModal = "{{ open_modal }}";
    if (openModal === "True") {
        $('#inputModal').modal('show');
    }

    $('#submitFoodBtn').click(function() {
        var foodName = $('#foodName').val();
        if (!foodName) {
            alert('음식 이름을 입력해주세요.');
            return;
        }

        $.ajax({
            url: "{{ url_for('handle_food_submission') }}",
            type: 'POST',
            data: { food_name: foodName },
            success: function(response) {
                if (response.success) {
                    alert('파일 저장 성공');
                    // 성공적으로 처리된 후에 리디렉션
                    window.setTimeout(function() {
                        window.location.href = "{{ url_for('upload_file') }}"; // 업로드 페이지로 리디렉션
                    }); // 2초 후에 리디렉션
                } else {
                    alert('에러: ' + response.error);
                }
            },
            error: function(xhr, status, error) {
                alert('서버 에러: ' + error);
            }
        });
    });
});
</script>



{% endblock %}
